# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# other scripts
*.sh
*.bat
*.cmd
*.zsh

# VS Code Workspace files
*.code-workspace

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
